In [1]:
import pandas as pd

ticker = "MSFT"

# load data
df = pd.read_excel(
    f"../../data/{ticker}_processed.xlsx", parse_dates=["Date"], index_col=0
)
df

,Open,High,Low,Close,Volume,tomorrow_change,tomorrow_direction
Date,,,,,,,
2000-01-03,58.687500,59.312500,56.000000,58.281250,53228400,-3.496115,-1
2000-01-04,56.781250,58.562500,56.125000,56.312500,54119000,1.043383,1
2000-01-05,55.562500,58.187500,54.687500,56.906250,64059600,-3.465909,-1
2000-01-06,56.093750,56.937500,54.187500,55.000000,54976600,1.289961,1
2000-01-07,54.312500,56.125000,53.656250,55.718750,62013600,0.723831,1
...,...,...,...,...,...,...,...
2024-01-10,376.369995,384.170013,376.320007,382.769989,25514200,0.483586,1
2024-01-11,386.000000,390.679993,380.380005,384.630005,27850800,0.988492,1
2024-01-12,385.489990,388.679993,384.649994,388.470001,21645700,0.461216,1
2024-01-16,393.660004,394.029999,387.619995,390.269989,27202300,-0.205404,-1
2024-01-17,387.980011,390.109985,384.809998,389.470001,22214400,0.327575,1

In [2]:
# X, y data
y = df["tomorrow_direction"]
y

Date
2000-01-03   -1
2000-01-04    1
2000-01-05   -1
2000-01-06    1
2000-01-07    1
             ..
2024-01-10    1
2024-01-11    1
2024-01-12    1
2024-01-16   -1
2024-01-17    1
Name: tomorrow_direction, Length: 6048, dtype: int64

In [3]:
X = df.drop(columns=["tomorrow_change", "tomorrow_direction"])
X

                  Open        High         Low       Close    Volume
Date
2000-01-03   58.687500   59.312500   56.000000   58.281250  53228400
2000-01-04   56.781250   58.562500   56.125000   56.312500  54119000
2000-01-05   55.562500   58.187500   54.687500   56.906250  64059600
2000-01-06   56.093750   56.937500   54.187500   55.000000  54976600
2000-01-07   54.312500   56.125000   53.656250   55.718750  62013600
...                ...         ...         ...         ...       ...
2024-01-10  376.369995  384.170013  376.320007  382.769989  25514200
2024-01-11  386.000000  390.679993  380.380005  384.630005  27850800
2024-01-12  385.489990  388.679993  384.649994  388.470001  21645700
2024-01-16  393.660004  394.029999  387.619995  390.269989  27202300
2024-01-17  387.980011  390.109985  384.809998  389.470001  22214400

[6048 rows x 5 columns]

In [4]:
from sklearn.tree import DecisionTreeClassifier

# create a decision tree classifier model
model_dt = DecisionTreeClassifier(max_depth=15)
model_dt.fit(X, y)

DecisionTreeClassifier(max_depth=15)

In [5]:
y_pred = model_dt.predict(X)
y_pred

array([-1,  1, -1, ...,  1, -1,  1])

In [6]:
# compare
df_comp = df[["tomorrow_direction"]].copy()
df_comp["prediction"] = y_pred
df_comp

            tomorrow_direction  prediction
Date
2000-01-03                  -1          -1
2000-01-04                   1           1
2000-01-05                  -1          -1
2000-01-06                   1           1
2000-01-07                   1           1
...                        ...         ...
2024-01-10                   1           1
2024-01-11                   1           1
2024-01-12                   1           1
2024-01-16                  -1          -1
2024-01-17                   1           1

[6048 rows x 2 columns]

In [7]:
# score
model_dt.score(X, y)

0.7022156084656085

In [8]:
import pickle

with open(f"models/{ticker}.pkl", "wb") as f:
    pickle.dump(model_dt, f)